// Fix incorrect width
.side-bar {
  @include mq(lg) {
    width: unset !important;
  }
}

.main {
  @include mq(lg) {
    margin-left: $nav-width !important;
    max-width: unset !important;
  }
}
body {

  // Adjust background to a slightly lighter shade of white
  background-color: #ddd4b3 ; // stark white
}


// Proper styles for spoilers
.custom-spoiler {
  @extend .bg-grey-lt-000;
  border-radius: 5px;
  border: 1px solid $grey-lt-300;
  padding-left: 1%;
}
